{% extends 'shop/basic.html' %}

{% block title %} My Awesome Cart {% endblock %}
{% block css %}




.carousel-indicators {
position: absolute;
right: 0;
bottom: -99px;
left: 0;
z-index: 46;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
padding-left: 4px;
margin-right: 0%;
margin-left: 0%;
list-style: none;
margin-bottom: -13px;
}


.col-md-3
{
display: inline-block;
margin-left:-4px;
}

.carousel-indicators .active {
background-color: blue;
}


body .carousel-indicator li{
background-color: blue;
}

body .carousel-indicators{
bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}

.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top: 110px;

}

body .no-padding{
padding-left: 0,
padding-right: 0;
}

.card {
position: relative;
display: -ms-flexbox;
display: table-footer-group;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 58px solid rgba(0,0,0,.125);
border-radius: .25rem;
}
p {
margin-top: -11px;
margin-bottom: 1rem;
}
.card-title {
margin-bottom: 0.75rem;
margin-left: 0rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
margin-bottom: 0.5rem;
margin-top: 0rem;
margin-left: 1rem;
font-weight: 500;
line-height: 1.2;
}

.card-body {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
min-height: 1px;
padding: 0.25rem;
width: 258px;
}
element.style {
margin-bottom: -36px;
}

.col-md-3 img {
width: 217px;
max-height: 148px;
}

.h3, h3 {
font-size: 1.75rem;
padding-left: inherit;}




{% endblock %}



{% block body %}

{% load static %}
<div class="container">
  <!-- slidesshow starts from here -->

  {% for products, nSlides, range in allProds %}
  <h4 class="my-4">Flash Sale On {{products.0.category}} - Recommended Items For You</h4>
  <div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ul>


      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">


          {% for i in products %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-item-center" style="width: 18rem;">
              <img src="/media/{{i.img}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i.product_name}}</h5>
                <p class="card-text">{{i.desc|slice:"0:30"}}.........</p>
                <span id='divpr{{i.id}}' class="divpr">
                  <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>
                <a href="/shop/prodview/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary">Quick
                    View</button></a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0  and not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}
          {% endfor %}



        </div>
      </div>
    </div>

    <!-- Left and Right control for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}} " data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
  {% endfor %}
</div>
{%endblock%}


{% block js %}
<script>




  // find out the cart's item from local storage
  if (localStorage.getItem('cart') == null) {
    var cart = {}
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'))
    document.getElementById('cart').innerHTML = Object.keys(cart).length;   //(to set cart length in html)  when we load page
    updateCart(cart);

  }


  // if add to cart button is clicked, add/increment item
  $('.cart').click(function () {
    var idstr = this.id.toString()
    // console.log(idstr)
    if (cart[idstr] != undefined) {
      cart[idstr] += 1
    }
    else {
      cart[idstr] = 1
    }
    updateCart(cart);
    // console.log(cart);
   });
  // We have selected cart(selector)



  //add for popover to cart
  $('#popcart').popover();
  document.getElementById("popcart").setAttribute('data-content', "<h6> Cart for Your Items...</h6>");



  function updateCart(cart) {
    console.log(cart);
    for (var item in cart) {
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "'class='btn btn-primary minus'> - </button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='pluse" + item + "'class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;     //(to set cart length in html)  when we click on add iyem to cart
  
  }

  // if plus or minus button is clicked, change the cart and display values
$('.divpr').on("click",'button.minus', function(){
  // console.log("minus clicked")
  // a=this.id     (this will print id of clicked item  like minuspr1)
  a=this.id.slice(5, )    // this will print pr1 because we used slicing
  // console.log(a)
  cart[a]-=1
  cart[a]=Math.max(0,cart[a] )
  document.getElementById('val'+a).innerHTML=cart[a];
  updateCart(cart);
});

$('.divpr').on("click",'button.plus', function(){
  // console.log("plus clicked")
  // a=this.id     //(this will print id of clicked item  like plusepr3)
  a=this.id.slice(5, )    // this will print pr1 because we used slicing
  // console.log(a)
  cart[a]+=1
  document.getElementById('val'+a).innerHTML=cart[a];
  updateCart(cart);
});
</script>
{%endblock%}